@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: black;
  color: green;
  margin: 2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.25;
}

.app {
  /*position: absolute;
  bottom: 2em;
  left: 2em;*/
}

.wind {
  font-family: serif;
  color: red;
}

.wind,
.metadata {
  font-weight: normal;
  animation: fade 5s linear;
}

.metadata {
  font-size: 20px;
}
  .metadata__ip,
  .metadata__fingerprint {
  }
